<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="stringTest" value="blah"/>
		<add key="boolTrueTest" value="true"/>
		<add key="boolFalseTest" value="FaLsE"/>
		<add key="boolBadTest" value="bad bool"/>
		<add key="intTest" value="11"/>
		<add key="intBadTest" value="11art4"/>
		<add key="int64Test" value="12"/>
		<add key="int64BadTest" value="12yui5"/>
	</appSettings>
</configuration>
